﻿@model MyFriends.WEB.Models.UserModel
@{
    ViewBag.Title = "AllUsers";
    string CurrentUser = ViewBag.UserId;
}


<div class="row">
    <div class="col-md-12">
        <h2>AllUsers</h2>
    </div>

    <div class="col-md-12">

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersList)
                {
                    if (item.UserId != CurrentUser)
                    {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                        @if (item.FriendId != CurrentUser)
                        {
                            <a href="@Url.Action("AddAsFriend", "Home", new { FriendId = item.UserId })" class="btn btn-primary">Add as Friend</a>
                        }
                        else
                        {
                            @:Already Friend
                        }
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
