﻿@model MyFriends.WEB.Models.UserModel
@{
    ViewBag.Title = "My Friends";
}


<div class="row">
    <div class="col-md-12">
        <h2>My Friends</h2>
    </div>

    <div class="col-md-12">

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FriendsList)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
